@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    font-family: 'Varela Round', sans-serif;
    background-color: #ffe4e4;
}

header {

    background-color:#9CB286;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
    
}

.menu {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content:space-between;
    z-index: 1000;
}

.logo {
   width: 150px;; 
}

.menu .navbar ul {

    list-style: none;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    display: block;
    padding: 20px;
    color: #849970;
    font-size: 18px;
    text-transform: uppercase;
    
}

.menu .navbar ul li a:hover {
    color: #62764D;
}

#menu {
    display: none;
}

.menu-icono {
    width: 20px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header content{
    display: flex;
    align-items: center;
    padding: 200px 0 150px 0;
}

.header-txt {
    width: 40%;
    padding-right: 25px;
}

.header-txt h1 {
    font-size: 50px;
    font-weight:600px;
    line-height:70px;
    color: #62764D;
    margin-bottom: 20px;
}

.header-txt p {
    font-size: 20px;
    color: #62764D;
    
}

.header-img {
    width: 60%;
}

.comidaP {
    width: 100%;
    
}